<div>
    <p class="fs-1">Register</p>
    <form action="/register" method="post">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="firstname" id="floatingInput" placeholder="Omar">
            <label for="floatingInput">Firstname</label>
        </div>

         <div class="form-floating mb-3">
            <input type="text" class="form-control" name="lastname" id="floatingInput" placeholder="Omar">
            <label for="floatingInput">Lastname</label>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <button type="submit" class="btn btn-primary mt-3 form-control">Login</button>
    </form>
</div>